.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../Background/3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .mainvideo {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* This means it takes up full height and width of screen - great for any background image or video */
  } 
  
  .content {
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh; 
  }

  .sign-in-box {
    position: relative;
    top: 6vh;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
                 7px  7px 20px rgba(0, 0, 0, 0.2)
  }
  
  .overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
  }


  
  
  
  

  