.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  
.bordered-content {
  border: 5px solid black;
  padding: 10px;
  margin: 0 auto;
  max-width: 300px; 
  /* max-height: 100px; */
}

/* .All {
  text-align: center;
  display: flex;
  align-items: center;
} */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-container {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center;
}

.clickable-element {
  cursor: pointer;
  text-decoration: none; /* Remove default underline */
}

.clickable-element:hover {
  text-decoration: underline; /* Underline the text on hover */
}

