.background-image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://tomholidaymyportfoliobucket.s3.eu-west-2.amazonaws.com/French+App+Data/Background/14.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* .background-image2 {
    background: url('../../Background/14.jpg') center/cover no-repeat fixed;
  } */

.all-content {
  position: fixed; 
    width: 100%;
    height: 100%;
    top: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-content button{
background-color: rgb(255, 136, 0);
}

.navigation {
  display: 'flex';
  justify-content: 'flex-end';
}


.center-content {
  position: relative;
    padding: 0px 60px;
}

.tick-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  overflow: visible;
  border: 1px solid gray;
}


.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  right: 0;
  /* background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid black; */
}

.sign-out {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
    align-content: center;
    padding-right: 10px;
}

.upload-list {
  background-color: rgba(252, 252, 252, 0.5);
}

.upload-list h6 {
  padding: 3px 0 0 0;
}

.clickable-element2 {
  cursor: pointer;
  text-decoration: none; /* Remove default underline */
}

.clickable-element2:hover {
  text-decoration: underline; /* Underline the text on hover */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
  z-index: 999; /* Higher z-index to make it appear above other components */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}



.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  text-align: center;
  border: 1px solid black;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  margin-bottom: 20px;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.popup button:hover {
  background-color: #0056b3;
}

.popup img{
  padding: 0 0 30px 0;
}

.popup input{
  padding: 0 0 0 60px;
  /* border: 1px solid black; */
}

/* ---------------------------------------------------------------------------- */

/* Mobile devices */
@media (max-width: 767px) {
  /* .all-content {
    font-size: 14px;
    height: auto;
    text-align: center;
  } */

  .tick-box {
    width: 100%;
  }

  .welcome-large, .welcome-medium {
    display: none;
  }
}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {

  .all-content {
    height: auto;
    text-align: center;
  }

  /* .center-content {
    transform: scale(1.4); 
    transform-origin: center center; 
  } */

  .welcome-small, .welcome-large {
    display: none;
  }

  .tick-box {
    width: 100%;
  }
  

}

/* Desktop devices */
@media (min-width: 1024px) {
  
  .welcome-small, .welcome-medium {
    display: none;
  }

}
